html {
    background-color: #f50e33;
    font-family: sans-serif;
    font-size: 10px;
}

#circle_1 {
    float: right;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 99%;
    position: relative;
    border: 2px solid white;
    margin: 85px 159px 0px 0px;
}



.hand {
    background: black;
    width: 45%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform-origin: right;
    transition: all 0.05s;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0, 0, 0, 2.84);
}

#header {
    color: white;
    font-family: 'Libre Barcode 128', cursive;
    font-size: 100px;
    float: left;
    margin-left: 89px;
    margin-top: 67px;
}

#para {
    float: left;
}

ul {
    list-style-type: decimal;
}

div.para {
    font-family: 'telex', serif;
    font-size: 15px;
    color: white;
    float: left;
    width: 600px;
    margin-top: 208px;
    margin-left: -430px;
}

body {
    width: auto;
    height: -webkit-fill-available;
}

.hour-hand,
.minute-hand,
.second-hand {

   
}