html {
	font-family: sans-serif;
	font-size: 10px;
}
#circle_1 {
	background-color: #ff0000;
	width: 300px;
	height: 300px;
	border-radius: 99%;
	position: relative;
}

#circle_2 {
	background: transparent;
	width: 300px;
	height: 300px;
	border-radius: 99%;
	margin: -150px 0px 0px -150px;
	position: absolute;
	top: 0%;
	left:0%;
}